# MongoDB connection string
# Local:   mongodb://localhost:27017/product_management
# Atlas:   mongodb+srv://<user>:<password>@cluster.mongodb.net/product_management
MONGO_URI="mongodb://localhost:27017/product_management"
PORT=3000
